*{
    box-sizing: border-box;
}

html {
    margin: 0px;
    background: #000;
    color: #fff;
    padding: 0;
}

body { 
    background: rgb(17, 166, 235);
    padding-bottom: 20px;
}

p {
    text-align: center;
    background: #CCC;
    color: #000;
}

form {
    background: rgba(129, 122, 158, 0.952);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid #000;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(150, 212, 7);
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: #CCC
}

#botones {
    margin-top: 10px;
}

#botones button {
    padding: 8px;
    border-radius: 100px;
    border:0;
}

#botones button:hover {
    background: rgb(87, 83, 83);
    color: #fff;
    cursor: pointer;
}

Table{
    width: 100%;
    border-collapse: collapse;
}
td,th{
    border: 1px solid rgb(39, 36, 36);
}